@use '../../styles/partials/_variables' as *;
@use '../../styles/mixins/global.scss' as *;

.video-card {
    display: flex;
    gap: $componentSpacing;
    margin-bottom: $componentSpacing;
    max-width: 336px;

    &__image {
        border-radius: $roundedCornerRadius;
        width: 40%;

        img {
            width: 100%;
            height: 100%;
            border-radius: $roundedCornerRadius;
        }
    }

    &__info {
        width: 60%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            margin: 0.25em;
        }
    }

    &__info-title {
        font-weight: bold;
    }

}