@use '../../styles/partials/_variables' as *;
@use '../../styles/mixins/global.scss' as *;

.button {
    border-radius: $roundedCornerRadius;
    border: 1px solid transparent;
    padding: 0 8px;
    height: 40px;
    font-size: 1em;
    font-weight: bold;
    font-family: inherit;
    background-color: $primaryBlue;
    color: $primaryWhite;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-tablet {
        width: fit-content;
    }

    &:hover {
        background-color: $secondaryBlue;
    }

    &:focus,
    :focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }

}