$myColor: red;
$primaryBlack: #323232;
$primaryBlue: #0095FF;
$primarySilver: #AFAFAF;
$primaryWhite: #FFFFFF;
$secondaryBlack: #000000;
$secondaryBlue: #0065AD;
$secondarySilver: #E1E1E1;
$secondaryWhite: #FAFAFA;

$componentSpacing: 16px;