@use '../../styles/partials/__variables.scss' as *;
@use '../../styles/mixins/global.scss' as *;

.navigation {
    padding: 1rem;
    margin-bottom: $componentSpacing;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @include for-tablet {
        flex-direction: row;
    }

    &__search-bar-button {
        display: flex;
        flex-direction: column;
        

        @include for-tablet {
            flex-direction: row;
            gap: $componentSpacing;

        }
        
    }

    &__avatar {

        @include for-tablet {
            display: none;
        }

        &--tablet {
            display: none;

            @include for-tablet {
                display: initial;
            }
        }
        
    }

    &__logo {
        display: flex;
        justify-content: center;
        max-width: 120px;
        margin: auto;
        margin-bottom: $componentSpacing;

        img {
            width: 100%;
        }

        @include for-tablet {
            margin: initial;
        }
    }

    &__search-bar {
        display: flex;
        width: 100%;
        gap: $componentSpacing;
        margin-bottom: $componentSpacing;
        align-items: center;

        @include for-tablet {
            width: auto;
            margin: initial;

        }

        &-field {
            @include input-field();
        }

        input {
            flex-grow: 1;
            background-color: $secondaryWhite;
            border: none;
            height: 100%;
            width: 200px;
            background-image: url(../../assets/images/icons/search.svg);
            background-repeat: no-repeat;
            padding-left: 32px;
            background-position: left;
            background-position-x: 8px;
        }

        &-icon {
            padding: 0 16px;
            svg {
                color: inherit;
            }
        }
    }

    
}
