@use '../../styles/partials/_variables' as variables;

.navigation {

    &__logo {
        margin-bottom: variables.$componentSpacing;
    }

    &__search-bar {
        display: flex;
        width: 100%;
        gap: 16px;
        margin-bottom: variables.$componentSpacing;
        align-items: center;

        &-field {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: variables.$secondaryWhite;
            border: 1px solid variables.$secondarySilver;
            padding: 1px;
            width: 100%;
            border-radius: 5px;
            height: 40px;
        }

        input {
            flex-grow: 1;
            background-color: variables.$secondaryWhite;
            border: none;
            height: 100%;
        }

        &-icon {
            padding: 0 16px;
            svg {
                color: inherit;
            }
        }
    }
}