@use '../../styles/partials/__variables.scss' as *;
@use '../../styles/mixins/global.scss' as *;

.upload-video {

    &__title {
        padding: $componentSpacing 0rem;

        @include for-tablet {
            border-bottom: 1px solid $primarySilver;
        }
        h1 {
            margin: 0%;
        }
    }
    &__label {
        font-size: 15px;
        color: $primarySilver;
        font-weight: 600;
    }
    &__preview {
        width: 100%;

        @include for-desktop {
            width: 33%;
        }
    }
    &__title-input {
        @include input-field(false);
        padding: 1rem;
    
    }
    &__title-input::placeholder {
        @include placeholder;
    }

    &__description-input {
        @include input-field(true);
        margin-bottom: 2rem;
    }

    &__description-input::placeholder {
       @include placeholder;
    }

    &__preview-form-fields {
        width: 100%;
        box-sizing: border-box;

        @include for-desktop {
            padding-left: $componentSpacing;
            width: 66%;
        }
    }

    &__cancel {
        text-align: center;
        width: 100%;
        color: $primaryBlue;
        font-weight: 700;
    }

    // &__form-fields {
    //     @include for-desktop {
    //         padding: ;
    //     }
    // }

    &__form-buttons-section {
        width: 100%;

        @include for-tablet {
            display: flex;
            justify-content: end;
            border-top: 1px solid $primarySilver;
            padding-top: $componentSpacing;
            margin-top: $componentSpacing;
        }
    }

    &__form-buttons {
        @include for-tablet {
            display: flex;
            flex-direction: row-reverse;
            gap: $componentSpacing;
            align-items: center;
        }
    }

    &__form {
        @include for-tablet {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__submit-validation {
        text-align: center;
    }
}