@use '../../styles/partials/_variables' as *;
@use '../../styles/mixins/global.scss' as *;

.upload-video {

    &__title {
        margin: 0%;
        padding: 1.875rem 0rem;
        font-size: 25px;
    }
    &__label {
        font-size: 15px;
        color: $primarySilver;
        font-weight: 600;
    }
    &__preview {
        width: 100%;
    }
    &__title-input {
        @include input-field(false);
        padding: 1rem;
    
    }
    &__title-input::placeholder {
        color:$primaryBlack;
    }

    &__description-input {
        @include input-field(true);
        margin-bottom: 2rem;
    }

    &__description-input::placeholder {
        color:$primaryBlack;
    }
    &__preview {
        width: 100%;
    }

    &__cancel {
        text-align: center;
        width: 100%;
        color: $primaryBlue;
        font-weight: 700;
    }



}